body,
html {
  font-family: "Cabin", sans-serif;

  display: flex;
  overflow-y: hidden;
  flex-direction: column;

  max-width: 100%;
  max-height: 100%;
  margin: 2px;
  padding: 0;

  background-color: #b71c1c;
}

/***** Basic Page *****/
.page-header {
  font-family: "Patrick Hand SC", cursive;

  display: flex;
  flex-direction: column;

  height: 10vh;
  margin: 0;

  text-align: center;

  color: #ffbb93;
  background-color: #7f0000;

  justify-content: center;
}

.search {
  font-size: 1.5rem;

  width: 90%;
  height: 5vh;
  margin-left: 5%;
  padding-left: 1%;

  border-radius: 15px;
}

.foursquare {
  position: absolute;
  bottom: 0;

  width: 150px;
  max-height: 30px;
}
/***** Info Cards *****/
.info-card {
  width: 250px;
  height: 15vh;
  margin: 4%;
  padding: 1rem 2rem;

  cursor: pointer;

  color: #000;
  border: none;
  border-radius: 2%;
  background: #f05545;
  box-shadow: 5px 10px 10px #ffbb93;
}

.info-card:hover,
.info-card:focus {
  font-size: 1.15em;

  color: #ffbb93;
  background: #b71c1c;
}

.info-card:focus {
  border-radius: 2%;
  outline: 3px solid #ffbb93;
  outline-offset: 3%;
}

.info-card:active {
  transform: scale(0.99);
}

.stops {
  display: flex;
  flex-direction: row;

  width: 100%;
  min-height: 5vh;

  list-style-type: none;

  justify-content: space-between;
}

.foursquare-location-image {
  width: 90%;
}

/***** React Component Slider *****/
.component-slider {
  position: relative;

  overflow: hidden;

  width: 99%;

  white-space: nowrap;
}

.component-slider
.slider-container {
  overflow: hidden;
}

.component-slider
.slider-content {
  display: inline-block;

  margin: 0 2vw;

  transition: margin-left 0.5s ease-in;
}

.component-slider
.caret {
  font-size: 2em;

  position: absolute;
  top: 50%;

  height: 40vh;

  cursor: pointer;
  transform: translateY(-50%);
  text-align: center;

  color: #fff;
  border: none;
  background-color: #b71c1c;
}

.component-slider
.caret-right {
  right: 0;
}

.component-slider
.caret-left {
  left: 0;
}
